@using CarRentwithDB.ViewModels
@model RegisterViewModel

@{
	ViewData["Title"] = "Rejestracja";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h1>Stwórz nowe konto </h1>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorki!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="RegisterEmployee" enctype="multipart/form-data">
                    <h4>Ogólne Informacje</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label">Imię</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Surname" class="control-label">Nazwisko</label>
                        <input asp-for="Surname" class="form-control">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Phone" class="control-label">Numer telefonu</label>
                        <input asp-for="Phone" class="form-control">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="EmailAddress" class="control-label ">Email</label>
                        <input asp-for="EmailAddress" class="form-control">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label">Hasło</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" class="control-label">Potwierdź hasło</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Image" class="control-label ">Zdjęcie</label>
                        <input asp-for="Image" class="form-control">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="UserType" class="control-label">Rodzaj</label>
                        <select asp-for="UserType" class="form-control" id="userTypeSelect">
                            <option value="Employee">Pracownik</option>
                            <option value="Customer">Klient</option>
                        </select>
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>
                    <div class="mb-3" id="formContainer"></div>
                    <div class="form-group mb-3">
                        <input class="btn btn-outline-success float right " type="submit" value="Rejestruj" />
                        <a class="btn btn-success btn-sm " asp-controller="Car" asp-action="Index">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/registerEmp.js"></script>
}