@using CarRentwithDB.Data.Enum
@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Make">Marka</label>
        <input asp-for="Make" class="form-control" placeholder="Dodaj marke">
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model">Model</label>
        <input asp-for="Model" class="form-control" placeholder="Dodaj model">
    </div>
    <div class="form-group">
        <label asp-for="Year">Rok produkcji</label>
        <input asp-for="Year" class="form-control" placeholder="Dodaj rok">
    </div>
    <div class="form-group">
        <label asp-for="City">Miasto</label>
        <input asp-for="City" class="form-control" placeholder="Dodaj miasto">
    </div>
    <div class="form-group">
        <label asp-for="carType">Rodzaj auta</label>
        <select asp-for="carType" asp-items="@Html.GetEnumSelectList<CarType>()" class="form-control form-control-lg">
            <option>--Wybierz--</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="fuelType">Rodzaj paliwa</label>
        <select asp-for="fuelType" asp-items="@Html.GetEnumSelectList<FuelType>()" class="form-control form-control-lg">
            
            <option>--Wybierz--</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Mileage">Przebieg</label>
        <input asp-for="Mileage" class="form-control" placeholder="Dodaj przebieg">
    </div>
    <div class="form-group">
        <label asp-for="carColor">Kolor auta</label>
        <select asp-for="carColor" asp-items="@Html.GetEnumSelectList<CarColor>()" class="form-control form-control-lg">
            <option>--Wybierz--</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DailyRate">Cena za dzien</label>
        <input asp-for="DailyRate" class="form-control" placeholder="Dodaj cene za dzien">
    </div>
    <div class="form-group">
        <label asp-for="VIN">VIN</label>
        <input asp-for="VIN" class="form-control" placeholder="Dodaj VIN">
    </div>
    <div class="form-group">
        <label asp-for="LicencePlate">Numer rejestracyjny</label>
        <input asp-for="LicencePlate" class="form-control" placeholder="Dodaj numer rejestracyjny">
    </div>
    <div class="form-group">
        <label asp-for="IsAvailable">Dostepnosc</label>
        <input asp-for="IsAvailable" class="form-control" placeholder="Dodaj dostepnosc">
    </div>
    <div class="form-group">
        <label asp-for="Description">Opis</label>
        <input asp-for="Description" class="form-control" placeholder="Dodaj opis">
    </div>
    <div class="form-group">
        <label asp-for="Image">Zdjecie</label>
        <input asp-for="Image" class="form-control" placeholder="Dodaj zdjecie">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>