html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

html, body {
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 42, 73, 0.7);
    z-index: 1;
}

.position-relative .row {
    z-index: 2;
}
/*For cars in home page*/
.cars-row {
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.car-icon {
    flex: 0 0 auto;
    width: 120px;
    text-align: center;
}

    .car-icon img {
        width: 100%;
        height: auto;
    }
    /*Delete hyperlinks from car icons*/
    .car-icon a {
        text-decoration: none;
        color: inherit;
    }
        /*Extra effects for icons*/
        .car-icon a:hover {
            color: #198754;
            text-decoration: underline;
        }
/*Effect for car Index*/
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
