@{
    ViewData["Title"] = "Polityka prywatności";
}



<h2 class="mt-4">Polityka prywatności</h2>
<p> Aplikacja <strong>CarRentwithDB</strong> przetwarza dane osobowe użytkowników wyłącznie w celu dokonania wypożyczenia samochodów.</p>
<h4>Aplikacja wykorzystuje następujące dane użytkowników:</h4>
    <li>Imię i nazwisko</li>
    <li>Numer telefonu</li>
    <li>Adres e-mail</li>
    <li>Adres zamieszkania</li>
    <li>Numer prawa jazdy</li>
<h2 class="mt-4">O aplikacji</h2>
<p>Aplikacja <strong>CarRentwithDB</strong> została stworzona w celu realizacji pracy inżynierskiej i służy do zarządzania wypożyczalnią samochodów.</p>
<p>Główne funkcjonalności aplikacji:</p>
    <li>Rejestracja i logowanie użytkowników (klientów i pracowników)</li>
    <li>Dodawanie, edycja i usuwanie pojazdów</li>
    <li>Wypożyczenie i ewentualne anulowanie wypożyczenia samochodów</li>
    <li>Rola administratora</li>
    <li>Podgląd szczegółów samochodów, wypożyczeń i użytkowników</li>
    <li>Profil i edycja danych użytkownika</li>
    <li>Mapa</li>
@* WPROWADZENIE- dlaczego warto zajac sie tym tematem.
                cel pracy
                zakres pracy - czego praca dotyczy, jakich komponentów
                zawartosc pracy - co w poszczególnyvh rozdziałavh sie znajduje

Przegalad pokrewnych rozwiazan ----> propzycja pracy(zalozenia jaki projekt bedzie miał)
Koncepcja rozwiazania ERD, przypadki uycia, diagry klas itp...
Implementacja - krotki opis uzytych komponentów,opisy isttnych algorytmów
przyklad działania, demonstracja rozwiązania
podsumowanie, co trzeba było zrobic, co sie udało, z czym trudnosci. Wkład własny  - co uwazam za prace samodzielna *@