@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1>Co do zrobienia</h1>
<p>Dodanie zdjęć z pliku</p>
<p><s>Poprawa formularzy</s></p>
<p><s>Zwiększenie walidacji</s></p>
<p><s>Filtry do użytkowika</s></p>
<p>Prywatność</p>
<p><s>Paginacja</s></p>