@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1>Co do zrobienia</h1>
<p>Dodanie zdjęć z pliku</p>
<p><s>Poprawa formularzy</s></p>
<p>Zwiększenie walidacji</p>
<p>Filtry do użytkowika</p>
<p>Prywatność</p>
<p>Paginacja</p>